.landing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.landing__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    padding: 1rem 0;
    border-bottom: 2px solid #e7cdae5a;
}

.landing__header h3 {
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 900;
    text-align: center;
    line-height: 120%;
}
.landing__header h3 span {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}

.landing__header h4 {
    font-family: var(--secondary-font);
    font-size: 1.05rem;
    font-weight: 700;
}

.landing__header a button {
    outline: none;
    border: none;
    padding: 0.5rem 1.25rem;
    margin-top: 0.25rem;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: #ffffff;
    cursor: pointer;
    font-size: 0.95rem;
}

.landing__bookmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    border-bottom: 2px solid #e7cdae5a;
}

.bookmark_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    gap: 1rem;
}

.bookmark_form h2 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 0.95rem;
    color: #c8730b;
    line-height: 105%;
}

.addFav__input {
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 0.75rem;
    font-family: var(--secondary-font);
    color: #00ae68;
    font-size: 0.9rem;
    outline: none;
    border: 3px solid #00ae68;
    width: 100%;
}

.addFav_submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--primary-color);
    background: #00ae68;
    width: 80px;
    height: 40px;
    cursor: pointer;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 0.9rem;
    color: #333333;
}

.landing__browse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-bottom: 2px solid #e7cdae5a;
    padding-bottom: 1rem;
}

.landing__browse h4 {
    font-family: var(--secondary-font);
    font-size: 1.05rem;
    font-weight: 700;
    padding: 1rem;
}

.landing_deals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.ld_card {
    width: 200px;
    height: 90px;
    padding: 1rem;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #f9b056b7 0px 8px 16px -6px, #f9bc71ad 0px 44px 54px -26px, rgb(239, 242, 248) 0px 0px 6px 0px inset, rgb(234, 236, 242) -2px -2px 1px 0px inset, rgba(255, 255, 255, 0.17) 2px 2px 3px 0px inset;
}
.ld_card img {
    width: 80%;
    pointer-events: none;
}

.landing__search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 1rem 0;
}

.amzSearch {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.amzSearch__input {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 0.75rem;
    font-family: var(--secondary-font);
    color: #c8730b;
    font-size: 0.9rem;
    outline: none;
    border: 3px solid #c8730b;
    width: 80%;
    margin: auto;
}

.amz__icon {
    cursor: pointer;
    position: absolute;
    right: 15%;
    font-size: 1.5rem;
    color: #c8730b;
}